body {
    box-sizing: border-box;
    font: 1.2em/1.2 Helvetica, sans-serif;
    margin: 0.3%;
}

h1{
    font-size: 1.8em;
    margin: 0.9em 0 0 0;
}

h2{
    font-size: 1.5em;
    margin: 1.5em 0 0 0;
}

img {
    max-width: 100%;
}

figure {
    margin: 0 0 25px 0;
    background: hsla(0, 0%, 0%, 1);
    border-radius: 5px;
    color: hsla(360, 100%, 100%, 1);
    padding: 10px;
    text-align: center;
}

figcaption {
    font-size: 0.8em;
}