.flex-item {
    background: tomato;
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 10px;

    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.wrap li {
    background: gold;
}

.wrap-reverse li {
    background: deepskyblue;
}

.align li {
    background: limegreen;
}